header {
    color: white;
    background-color: #00cba9;
    margin-bottom: -1px; /* prevent 1px white space between this and the svg shape*/
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 0;
}

h2 {
    font-size: 16px;
    font-weight: 300;
}

h3 {
    font-size: 48px;
    margin-bottom: 50px;
}

h4 {
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 0;
}

.logo {
    text-align: center;
    margin-bottom: 50px;
}

.generator {
    margin: 0 auto;
    width: 100%;
    max-width: 270px;
}

.btn-generate {
    background-color: #273036;
    line-height: 20px;
    padding: 10px 0;
    border-radius: 10px;
    width: 100%;
}

.output {
    margin-top: 20px;
    font-size: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lili-input {
    background: none;
    border: none;
    width: calc(100% - 85px);
    padding: 0;
    margin: 0;
    outline: none;
}

.copy-to-clipboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.btn-copy {
    font-size: 16px;
    padding: 6px 14px;
    border: 1px solid white;
    border-radius: 5px;
    background: transparent;
}

#copy-feedback {
    font-size: 16px;
    color: var(--text-color);
    position: absolute;
    top: 4px;
    left: -64px;
}

h4 {
    padding-bottom: 40px;
}

.wave {
    position: relative;
    height: 100%;
    min-height: 320px;
}

.wave svg {
    width: 100%;
    height: auto;
}

.img {
    margin: 0 auto;
    width: 100%;
    max-width: 480px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

footer {
    background-color: whitesmoke;
    margin-top: 40px;
}

.share {
    margin: 0 auto;
    width: 100%;
    max-width: 540px;
}
