.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-paypal {
  width: 0.857421875em;
}

.icon-facebook {
  width: 0.587890625em;
}

.icon-twitter {
  width: 0.9287109375em;
}
